.deleteButton{
  font-size: 20px;
  margin-left: 20px;
  visibility:hidden;
}

.message-group:hover .deleteButton {
  visibility:visible;
  color: #008B8B;

}

.message-group:hover{
    background-color: #f1f1f1;
}

.deleteButton:hover{
    background-color: #f1f1f1;
}

button{
    padding-top: 3px;
    float: right;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #696969;
    border-radius: 10px;

}
