

.submitButton{
  margin-top: 9px;
}

.cancelButton{
  margin: 0px;
}

.renameRoomButton{
  float: right;
}

.roomName:hover{
  font-weight: bold;
}

.chatColumn .colTitle{
    overflow: hidden;
}

.title {  overflow: hidden;}
