

.App {
  display: grid;
  grid-template-columns: 30vw auto ;
   height: 100vh;


}

.leftCol {
  background-image: url("./img/teal-sky.jpg");
  height: auto;
  background-size: cover;
  text-align: left;
  padding-left: 30px;
}

.roomNames {
  padding-top: 20px;
  font-size: 20px;
    color: #fff;
}

.colTitle{
  font-size: 40px;
    color: #fff;
    display: inline-block;

}

.btn{
  margin: 25px 12px 10px 10px;
}
.main {
  background-color: #fff;
  font-size: 30px;
  padding-left: 30px;
}
