

.App {
  display: grid;
  grid-template-columns: 300px auto ;
   background-color: #2196F3;
   height: 100vh;


}

.leftCol {
  background-image: url("./img/gradient_purple.jpg");
  color: #fff;
  height: auto;
  background-size: cover;
  text-align: left;
  padding-left: 30px;
}

.roomNames {
  padding-top: 20px;
  font-size: 20px;
}

.colTitle{
  font-size: 40px;
}

.main {
  background-color: #fff;
  font-size: 30px;
  padding-left: 30px;
}
