

.App {
  display: grid;
  grid-template-columns: 30vw auto ;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display:flex;
}

.leftCol {
  background-image: url("./img/teal-sky.jpg");
  height: auto;
  background-size: cover;
  text-align: left;
  padding-left: 30px;
    overflow: hidden;
}

.roomNames {
  padding-top: 20px;
  font-size: 20px;
    color: #fff;
      overflow: hidden;
}

.colTitle{
  font-size: 40px;
    color: #fff;
    display: inline-block;
      overflow: hidden;
}

.btn{
  margin: 25px 12px 10px 10px;
}
.main {
  background-color: #fff;
  font-size: 30px;
  padding-left: 30px;
  width: 100%;
    overflow: hidden;

}


body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .App {
    flex-direction: column;
    overflow: scroll;
  }
  .leftCol,
  .main {
    width: auto;
      overflow: scroll;

  }

  .main{
    height: 80%;
    overflow: scroll;
  }
}
